<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <button (click)="sampleFunction('data testing')">click</button>
  <table class="table" style="border: 1px solid;">

    <tr class="form3A" >
        <th  style="border: 1px solid;">EmployeeIf</th>
        <th  style="border: 1px solid;">EmpName</th>
        <th  style="border: 1px solid;" >Department</th>
        <th  style="border: 1px solid;" >DOJ</th>
        <th  style="border: 1px solid;" >photo file name</th>

    </tr>
    <tr *ngFor="let ele of dataList; let i =index">
        <td style="border: 1px solid;" >{{ele.EmployeeId}}</td>
        <td style="border: 1px solid;" >{{ele.EmployeeName}}</td>
        <td style="border: 1px solid;" >{{ele.Department}}</td>
        <td style="border: 1px solid;" >{{ele.DateOfJoining}}</td>
        <td style="border: 1px solid;" >{{ele.PhotoFileName}}</td>
    </tr>
</table>
</body>
</html>